@import "theme";

.top-bar a {
  color: var(--palette-off-white);
}

.top-bar a:hover {
  color: var(--palette-white);
}

.top-bar .container {
  display: flex;
  flex-direction: column;
}

.top-bar .main-links {
  display: flex;
  justify-content: space-between;
}

.top-bar .nav-links {
  display: flex;
  flex-direction: column;
}

@media (--breakpoint-lg) {
  .top-bar .container {
    flex-direction: row;
    max-height: 7rem;
  }

  .top-bar .nav-links {
    flex-direction: row;
    flex: 1;
    margin-left: 3rem;
    height: auto;
  }

  .top-bar .hamburger {
    display: none;
  }
}