@import "theme";

.coder-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.coder-section .text {
  flex: 1;
}

.coder-section .image-container {
  padding-top: 3rem;
}

@media (--large-screen) {
  .coder-section {
    flex-direction: row;
  }

  .coder-section .text {
    padding-right: 5rem;
  }
}