@import "theme";

.twitter {
  color: var(--palette-white);
  background: var(--palette-twitter);
}

.twitter:active, .twitter:focus {
  background: color-mod(var(--palette-twitter) shade(25%));
}

.twitter:hover,
.twitter:focus,
.twitter:active {
  color: var(--palette-white);
}