@import 'palette';
@import 'typography';

html {
  font-size: var(--base-size);
}

body {
  @apply --sans;
  background-color: var(--grey);
}

.app {
  background-color: var(--white);
  width: 72rem;
  margin: auto;
  padding: 1rem;
}