@import 'theme';
@import '../_dimensions';

:root {
  --hamburger-circle-width: calc(var(--circle-width) - 2 * var(--circle-border-thickness));
}

.hamburger {
  position: relative;
  color: var(--off-white);
  font-size: var(--xxl);
  padding: 0 calc(2 * var(--circle-border-thickness));
  z-index: 1;
}

.hamburger:hover {
  color: var(--white);
}

.hamburger::before {
  position: absolute;
  top: calc(50% - var(--hamburger-circle-width) / 2);
  left: calc(50% - var(--hamburger-circle-width) / 2);
  width: var(--hamburger-circle-width);
  height: var(--hamburger-circle-width);
  border: calc(var(--hamburger-circle-width) / 2) solid var(--secondary);
  border-radius: 50%;
  content: '';
  display: block;
  background: var(--primary);
  z-index: -1;
  transition: var(--short-transition) border-width;
}

.hamburger.active::before {
  border-width: 0;
}