@import "theme";

@mixin palette-theme .portfolio-item, border-bottom-color {
  display: block;
  background-color: var(--palette-black);
  margin-top: 0;
  color: var(--palette-off-black);
  border-bottom-width: 0;
  border-bottom-style: solid;
  transition: var(--transition-short) border-bottom-width, var(--transition-short) margin-top;
}

.portfolio-item:hover {
  border-bottom-width: 0.5rem;
  margin-top: -0.5rem;
  color: initial;
}

.image {
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-area {
  background: var(--palette-white);
  padding: 1rem;
  box-shadow: 0 0.1875rem 0.25rem -0.1875rem rgba(0, 0, 0, 0.1) inset;
}

.title {
  @mixin typography-responsive lg;

  margin-bottom: 0.5rem;
}

.byline {
  opacity: 0.5;
}

.bullet {
  display: inline-block;
  margin: 0 0.25rem;
}
