{
  "presets": ["env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-webpack-alias", { "config": "./webpack/dev.config.js" }]
      ]
    }
  }
}
