/node_modules
/public/build
/public/api

/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.netlify
.playwright

# Mac
.DS_Store

/static/api
/static/build
/static/posts
/static/portfolio
/static/art
/static/stories
/static/LICENSE
