@import "theme";

.button {
  display: inline-block;
  border-radius: 1em;
  padding: 0.25em 1.5em;
  transition:
    var(--transition-short) padding-left,
    var(--transition-short) padding-right,
    var(--transition-short) margin-left,
    var(--transition-short) margin-right;
  cursor: pointer;
}

.button:hover {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.button.outline {
  border: 0.125rem solid var(--palette-white);
  color: var(--palette-white);
  opacity: 0.875;
}

.button.outline:active, .button.outline:focus {
  opacity: 1;
}

@mixin palette-theme .button.primary, background {
  color: var(--palette-white);
}

@mixin palette-theme-dark .button.primary:active, background;
@mixin palette-theme-dark .button.primary:focus, background;

.button.secondary {
  background: var(--palette-aurora-green);
  color: var(--palette-white);
}

.button.secondary:active,
.button.secondary:focus {
  background: color-mod(var(--palette-aurora-green) shade(25%));
}