@import "theme";
@import "core/Animated/selectors";

:root {
  --width: 67vw;
  --max-width: 25rem;
}

.dots-image {
  position: relative;
  width: var(--width);
  height: var(--width);
  max-width: var(--max-width);
  max-height: var(--max-width);
}

.dots-image img {
  position: absolute;
  width: var(--width);
  max-width: var(--max-width);
  left: 0;
  bottom: 0;
}

@keyframes draw-left {
  from {
    opacity: 0;
    left: 1rem;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@media (--large-screen) {
  .dots-image .animated {
    left: 1rem;
    opacity: 0;
    animation-name: draw-left;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }

  .dots-image .top {
    animation-delay: 500ms;
  }

  .dots-image .middle {
    animation-delay: 900ms;
  }

  .dots-image .bottom {
    animation-delay: 1300ms;
  }

  .dots-image:--anim-running .animated {
    animation-play-state: running;
  }
}