@import "theme";

.main-banner {
  background: var(--secondary);
}

.main-banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 4rem;
}

.main-banner .logo {
  max-width: 12rem;
  margin-bottom: 2rem;
}

.main-banner .text {
  color: var(--off-white);
}

.main-banner .text h1 {
  font-size: var(--jb);
  letter-spacing: 0.125rem;
  margin-bottom: 1rem;
}

.main-banner .text .subtitle {
  display: flex;
  justify-content: space-between;
  font-size: var(--lg);
  font-style: italic;
  opacity: 0.75;
  margin-bottom: 3rem;
}

.main-banner .text .link-container {
  text-align: center;
}

.main-banner .text .link:hover {
  text-decoration: none;
}

@keyframes steady-bounce-left-right {
  0% { right: 0; }
  60% { right: 0; }
  70% { right: 0.5em; }
  80% { right: 0; }
  90% { right: 0.5em; }
  100% { right: 0; }
}

.main-banner .text .link .icon {
  position: relative;
  margin-left: -0.75rem;
  margin-right: 0.75rem;
  animation: steady-bounce-left-right 4s infinite;
}

.main-banner .text .link:hover .icon {
  animation: none;
}

@media (--large-screen) {
  .main-banner {
    margin-bottom: 6rem;
  }

  .main-banner .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-height: 40rem;
    padding: 0;
  }

  .main-banner .logo {
    flex: 1;
    align-self: flex-start;
    max-width: 42rem;
    border: 2rem solid var(--secondary);
  }

  .main-banner .text {
    padding: 2rem;
  }

  .main-banner .text h1 {
    font-size: var(--xjb);
  }

  .main-banner .text .subtitle {
    font-size: var(--xxl);
  }

  .main-banner .text .link {
    font-size: var(--xxl);
  }
}