@import "theme";

.main-banner {
  background: var(--palette-secondary);
}

.main-banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 4rem;
}

.main-banner .logo {
  max-width: 12rem;
  margin-bottom: 2rem;
}

.main-banner .text {
  color: var(--palette-off-white);
}

.main-banner .text h1 {
  @apply --typography-responsive-xj;

  letter-spacing: 0.125rem;
  margin-bottom: 1rem;
  text-align: center;
}

.main-banner .text .subtitle {
  @apply --typography-responsive-xl;

  display: flex;
  justify-content: space-between;
  font-style: italic;
  opacity: 0.75;
  margin-bottom: 3rem;
}

.main-banner .text .subtitle span {
  margin: 0 1rem;
}

.main-banner .text .link-container {
  text-align: center;
}

.main-banner .text .link {
  @apply --typography-responsive-xl;
}

.main-banner .text .link:hover {
  text-decoration: none;
}

@media (--breakpoint-lg) {
  .main-banner {
    margin-bottom: 6rem;
  }

  .main-banner .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-height: 40rem;
    padding: 0;
  }

  .main-banner .logo {
    flex: 1;
    align-self: flex-start;
    max-width: 42rem;
    border: 2rem solid var(--palette-secondary);
  }

  .main-banner .text {
    padding: 2rem;
  }
}