@import "theme";

:root {
  --width: 24.667rem;
  --offscreen: 30rem;
}

.omnixis-image {
  position: relative;
  width: var(--width);
  height: var(--width);
}

@keyframes fall {
  from {
    opacity: 0;
    bottom: var(--offscreen);
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}

.omnixis-image img {
  position: absolute;
  width: var(--width);
  left: 0;
  bottom: var(--offscreen);
  opacity: 0;
  animation-name: fall;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.omnixis-image .bottom {
  animation-delay: 250ms;
}

.omnixis-image .middle {
  animation-delay: 650ms;
}

.omnixis-image .top {
  animation-delay: 1050ms;
}

.omnixis-image[data-anim-state="running"] img {
  animation-play-state: running;
}