@import 'theme';
@import '../_dimensions';

.logo-link {
  position: relative;
  display: block;
  width: var(--circle-width);
  height: var(--circle-width);
}

.logo-link .logo {
  border: var(--circle-border-thickness) solid var(--secondary);
  width: 100%;
  height: 100%;
  transition: var(--short-transition) border-width;
}

.logo-link .logo img {
  position: absolute;
  top: calc(var(--circle-border-thickness));
  left: calc(var(--circle-border-thickness));
  width: calc(100% - 2 * var(--circle-border-thickness));
}

.logo-link:hover .logo {
  border-width: calc(var(--circle-border-thickness) * 1.5);
}

@media (--large-screen) {
  .logo-link {
    width: 10rem;
    height: 10rem;
  }

  .logo-link .logo {
    border-width: var(--circle-border-thickness-large);
  }

  .logo-link .logo img {
    top: calc(var(--circle-border-thickness-large));
    left: calc(var(--circle-border-thickness-large));
    width: calc(100% - 2 * var(--circle-border-thickness-large));
  }
  
  .logo-link:hover .logo {
    border-width: calc(var(--circle-border-thickness-large) * 1.5);
  }
}