@import "theme";

.byline {
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.bullet {
  display: inline-block;
  margin: 0 0.25rem;
}

.summary {
  @mixin typography-responsive md;
  @mixin typography-preset-paragraph;

  margin-bottom: 0.75rem;
}
