@import "theme";

body {
  font-family: var(--sans);
  background-color: var(--grey);
  color: var(--off-black);
}

a {
  color: var(--primary);
  text-decoration: none;
}

button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

p {
  line-height: 1.5em;
}