@import "theme";

body {
  font-family: var(--typography-sans);
  background-color: var(--palette-grey);
  color: var(--palette-off-black);
}

@mixin palette-theme a, color {
  text-decoration: none;
}

@mixin palette-theme-dark a:hover, color {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

p {
  line-height: 1.5em;
}

code {
  font-family: var(--typography-code);
  font-size: 0.875em;
}