@import 'theme';

body {
  @apply --sans;
  background-color: var(--grey);
}

a {
  color: var(--primary);
  text-decoration: none;
}

button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}