@import "theme";

noscript :global(.container) {
  text-align: center;
  padding: 3rem 1rem;
}

noscript :global(.title) {
  text-shadow: 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
  font-size: 7.25rem;
  opacity: 0.5;
}

noscript :global(.subtitle) {
  @mixin typography-responsive xl;

  opacity: 0.5;
  margin-bottom: 2rem;
}

noscript :global(.text) {
  @mixin typography-responsive md;

  font-weight: var(--typography-light);
  max-width: 44rem;
  margin: 0 auto 3rem;
}

@media (--breakpoint-lg) {
  noscript :global(.title) {
    font-size: 10rem;
  }
}