@import "theme";

.content {
  margin-bottom: 1.5rem;
}

.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6 {
  line-height: 3em;
  margin-bottom: 0;
}

.content > h2 {
  @mixin typography-responsive xl;
}

.content > h3 {
  @mixin typography-responsive lg;
}

.content > h4,
.content > h5,
.content > h6 {
  @mixin typography-responsive md;
}

@media (--breakpoint-lg) {
  .content {
    padding: 0 0.5rem;
  }
}