@import "theme";

.about-site-section {
  padding: 3rem 1rem;
}

.about-site-section h1 {
  @mixin typography-responsive jb;

  text-align: center;
  color: var(--palette-dark-grey);
  margin-bottom: 4rem;
}

@media (--breakpoint-lg) {
  .about-site-section {
    padding-top: 0;
  }

  .about-site-section h1 {
    margin-bottom: 6rem;
  }
}