@import "theme";

.linked-related-post {
  position: relative;
  display: block;
  background: rgba(0, 0, 0, 0.667);
  color: var(--palette-white);
  padding: 0.75rem;
  overflow: hidden;
  transition: background var(--transition-short);
  margin-bottom: 1rem;
}

.linked-related-post:hover,
.linked-related-post:active {
  @mixin palette-color-swap background;
}

.title {
  position: relative;
  z-index: 2;
}

.icon {
  @mixin typography-responsive xj;

  position: absolute;
  right: 0.5rem;
  top: -0.25rem;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: color var(--transition-short);
}

.linked-related-post:hover .icon,
.linked-related-post:active .icon {
  color: rgba(0, 0, 0, 0.333);
}