@import "theme";

.header {
  @mixin palette-color-swap background;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 16rem;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.title {
  @mixin typography-responsive jb;

  color: var(--palette-white);
  text-align: center;
  position: relative;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.333);
  width: 100%;
}

.with-image .title {
  background-color: rgba(0, 0, 0, 0.667);
}

.icon {
  font-size: 24rem;
  position: absolute;
  color: rgba(0, 0, 0, 0.333);
  align-self: center;
}