@import "theme";

.aside {
  margin-bottom: 1.5rem;
}

@media (--breakpoint-lg) {
  .aside {
    padding: 0 0.5rem;
  }

  .title {
    @mixin typography-responsive md;
    @mixin typography-preset-paragraph;

    margin-bottom: 1rem;
  }
}
