@import "theme";

.buttons {
  @mixin typography-responsive md;

  position: absolute;
  top: -0.75em;
  left: 0;
  right: 0;
  text-align: center;
}

.button {
  @mixin typography-responsive md;

  border: 0.125rem solid var(--palette-white);
}

.button svg {
  min-width: 1em;
}

.spacing {
  display: inline-block;
  margin: 0 0.5rem;
}