@import "theme";

@keyframes grow-shrink {
  0% { font-size: var(--typography-xl); }
  50% { font-size: var(--typography-jb); }
  100% { font-size: var(--typography-xl); }
}

.last-clicked {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: grow-shrink 1024ms;
  animation-iteration-count: infinite;
  opacity: 0.667;
}