@import "theme";

:root {
  --circle-width: 4.5rem;
  --circle-width-large: 8.25rem;
}

.site-section-description {
  margin-bottom: 2rem;
  padding: 0.25rem;
  background: var(--white);
  border-top-right-radius: calc(var(--circle-width) / 2);
}

.site-section-description .text {
  padding: 0.5rem;
}

.site-section-description .icon {
  font-size: calc(var(--circle-width) / 2.25);
  float: right;
}

.site-section-description h2 {
  font-size: var(--xxl);
  margin-bottom: 0.5rem;
}

.site-section-description p {
  font-size: var(--ml);
  font-weight: var(--light);
}

@media (--large-screen) {
  .site-section-description {
    min-height: 8.75rem;
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
    border-top-right-radius: calc(var(--circle-width-large) / 2);
    border-bottom-right-radius: calc(var(--circle-width-large) / 2);
  }

  .site-section-description .text {
    flex: 1;
    padding: 0.75rem calc(var(--circle-width-large) + 4rem) 0.75rem 0.75rem;
  }

  .site-section-description h2 {
    font-size: var(--xxxl);
    margin-bottom: 0.5rem;
  }

  .site-section-description .icon {
    font-size: calc(var(--circle-width-large) / 2.25);
  }
}