@import "theme";

:root {
  --circle-width: 7rem;
}

.site-section-description {
  display: flex;
  background: var(--white);
  margin-bottom: 2rem;
  border-top-right-radius: calc(var(--circle-width) / 2);
  border-bottom-right-radius: calc(var(--circle-width) / 2);
}

.site-section-description .text {
  flex: 1;
  padding: 1rem;
}

.site-section-description .icon {
  font-size: calc(var(--circle-width) / 2.25);
  margin: 0.25rem;
}

.site-section-description h2 {
  font-size: var(--xxl);
  margin-bottom: 0.5rem;
}

.site-section-description p {
  font-size: var(--ml);
  font-weight: var(--light);
}