@import 'theme';

.nav-link {
  display: flex;
  align-items: center;
  font-size: var(--lg);
  border-bottom: 0 solid var(--primary);
  padding-top: 0;
  transition: var(--short-transition) border-bottom-width,
              var(--short-transition) padding-top;
}

.nav-link:hover,
.nav-link.active {
  border-bottom-width: 0.5rem;
  padding-top: 0.5rem;
}