@import "theme";

@mixin palette-theme .nav-link, border-right-color {
  display: flex;
  flex: 0 0 5rem;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--typography-lg);
  border-right: 0 solid;
  padding-right: 1.5rem;
  transition:
    var(--transition-short) border-right-width,
    var(--transition-short) padding-right,
    var(--transition-short) color;
}

.nav-link:hover,
.nav-link.active {
  border-right-width: 0.5rem;
  padding-right: 1rem;
}

@media (--breakpoint-lg) {
  @mixin palette-theme .nav-link, border-bottom-color {
    flex: 0 0 8rem;
    justify-content: center;
    border-bottom: 0 solid;
    padding-top: 0;
    padding-right: 0;
    transition:
      var(--transition-short) border-bottom-width,
      var(--transition-short) padding-top,
      var(--transition-short) color;
  }

  .nav-link:hover,
  .nav-link.active {
    border-bottom-width: 0.5rem;
    padding-top: 0.5rem;
    border-right-width: 0;
    padding-right: 0;
  }
}