:root {
    --palette-greyscale-000: hsl(0, 0%, 0%);
    --palette-greyscale-005: hsl(0, 0%, 12%);
    --palette-greyscale-010: hsl(0, 0%, 16%);
    --palette-greyscale-025: hsl(0, 0%, 44%);
    --palette-greyscale-050: hsl(0, 0%, 69%);
    --palette-greyscale-075: hsl(0, 0%, 87%);
    --palette-greyscale-085: hsl(0, 0%, 93%);
    --palette-greyscale-090: hsl(0, 0%, 97%);
    --palette-greyscale-100: hsl(0, 0%, 100%);

    --palette-rgb-greyscale-075: 221, 221, 221;
    --palette-rgb-greyscale-010: 51, 51, 51;

    --palette-shade-033: rgba(0, 0, 0, 0.333);
    --palette-shade-050: rgba(0, 0, 0, 0.5);
    --palette-shade-067: rgba(0, 0, 0, 0.667);
  
    --palette-deep-blue: hsl(215, 100%, 10%);
    --palette-aurora-blue: #448DDD;
    --palette-aurora-blue-text: #2575CB;
    --palette-rgb-aurora-blue: 68, 141, 221;
    --palette-aurora-green: #41AAB7;
    --palette-rgb-aurora-green: 65, 170, 183;
    --palette-fable-lavender: #9D77DD;
    --palette-fable-lavender-text: #895CD6;
    --palette-fable-pink: #FB6BB5;
    --palette-livian-yellow: #D6AB00;
    --palette-rgb-livian-yellow: 214, 171, 0;
    --palette-eventide-black: #303038;
    --palette-winter-grey: #A6B3B9;
    --palette-autumn-red: #BE2C38;
    --palette-rgb-autumn-red: 190, 44, 56;
    --palette-autumn-orange: #D88F30;
    --palette-aella-green: #5EBF36;
    --palette-rgb-aella-green: 94, 191, 54;

    --palette-aurorablue-wc: hsl(210, 68%, 45%);
    --palette-aurorablue-cb: hsl(210, 72%, 57%);
    --palette-aurorablue-lo: hsl(207, 52%, 97%);
    --palette-aurorablue-do: hsl(213, 15%, 14%);
    --palette-aurorablue-hsl: 210, 72%, 57%;

    --palette-auroragreen-wc: hsl(155, 44%, 35%);
    --palette-auroragreen-cb: hsl(155, 50%, 50%);
    --palette-auroragreen-lo: hsl(153, 47%, 97%);
    --palette-auroragreen-do: hsl(157, 12%, 14%);
    --palette-auroragreen-hsl: 155, 50%, 50%;

    --palette-fablelavender-wc: hsl(262, 58%, 58%);
    --palette-fablelavender-cb: hsl(262, 64%, 68%);
    --palette-fablelavender-lo: hsl(264, 50%, 97%);
    --palette-fablelavender-do: hsl(260, 10%, 15%);
    --palette-fablelavender-hsl: 262, 64%, 68%;

    --palette-fablepink-wc: hsl(330, 60%, 49%);
    --palette-fablepink-cb: hsl(330, 88%, 68%);
    --palette-fablepink-lo: hsl(332, 83%, 97%);
    --palette-fablepink-do: hsl(328, 12%, 16%);
    --palette-fablepink-hsl: 330, 88%, 68%;

    --palette-livianyellow-wc: hsl(48, 86%, 29%);
    --palette-livianyellow-cb: hsl(48, 94%, 42%);
    --palette-livianyellow-lo: hsl(50, 63%, 96%);
    --palette-livianyellow-do: hsl(46, 19%, 14%);
    --palette-livianyellow-hsl: 48, 94%, 42%;

    --palette-autumnred-wc: hsl(357, 68%, 45%);
    --palette-autumnred-cb: hsl(357, 98%, 60%);
    --palette-autumnred-lo: hsl(359, 52%, 96%);
    --palette-autumnred-do: hsl(355, 15%, 13%);
    --palette-autumnred-hsl: 357, 68%, 45%;

    --palette-autumnorange-wc: hsl(34, 60%, 37%);
    --palette-autumnorange-cb: hsl(34, 70%, 52%);
    --palette-autumnorange-lo: hsl(36, 66%, 96%);
    --palette-autumnorange-do: hsl(30, 16%, 15%);
    --palette-autumnorange-hsl: 34, 70%, 52%;

    --palette-aellagreen-wc: hsl(102, 46%, 36%);
    --palette-aellagreen-cb: hsl(102, 56%, 46%);
    --palette-aellagreen-lo: hsl(100, 43%, 96%);
    --palette-aellagreen-do: hsl(104, 12%, 14%);
    --palette-aellagreen-hsl: 102, 56%, 46%;

    --palette-eventideblack-wc: hsl(240, 8%, 20%);
    --palette-eventideblack-cb: hsl(240, 8%, 56%);
    --palette-eventideblack-lo: hsl(240, 0%, 94%);
    --palette-eventideblack-do: hsl(240, 2%, 13%);
    --palette-eventideblack-hsl: 240, 8%, 20%;

    --palette-wintergrey-wc: hsl(200, 8%, 44%);
    --palette-wintergrey-cb: hsl(200, 12%, 68%);
    --palette-wintergrey-lo: hsl(180, 8%, 97%);
    --palette-wintergrey-do: hsl(180, 1%, 16%);
    --palette-wintergrey-hsl: 200, 12%, 68%;
  
    --palette-dev: #08090a;
    --palette-github: #333333;
    --palette-itch-io: #ff5c5b;
    --palette-linked-in: #0077B5;
    --palette-twitter: #29AAE1;
    --palette-facebook: #3B5998;
    --palette-windows: #1DAEEC;
    --palette-android: #A4C639;
    --palette-adobe: #E61A23;
    --palette-stack-overflow: #f48024;
    --palette-npm: #cb3837;

    --brand-dev: #08090a;
    --brand-github: #333333;
    --brand-itch-io: #ff5c5b;
    --brand-linked-in: #0077B5;
    --brand-twitter: #29AAE1;
    --brand-facebook: #3B5998;
    --brand-windows: #1DAEEC;
    --brand-android: #A4C639;
    --brand-adobe: #E61A23;
    --brand-stack-overflow: #f48024;
    --brand-npm: #cb3837;
}
