:root {
    --palette-greyscale-000: #000000;
    --palette-greyscale-010: #333333;
    --palette-greyscale-025: #707070;
    --palette-greyscale-050: #afafaf;
    --palette-greyscale-075: #dddddd;
    --palette-greyscale-090: #f7f7f7;
    --palette-greyscale-100: #ffffff;

    --palette-rgb-greyscale-075: 221, 221, 221;
    --palette-rgb-greyscale-010: 51, 51, 51;

    --palette-shade-033: rgba(0, 0, 0, 0.333);
    --palette-shade-050: rgba(0, 0, 0, 0.5);
    --palette-shade-067: rgba(0, 0, 0, 0.667);
  
    --palette-deep-blue: #001533;
    --palette-aurora-blue: #448DDD;
    --palette-rgb-aurora-blue: 68, 141, 221;
    --palette-aurora-green: #41AAB7;
    --palette-rgb-aurora-green: 65, 170, 183;
    --palette-fable-lavender: #9D77DD;
    --palette-fable-pink: #FB6BB5;
    --palette-livian-yellow: #E6B800;
    --palette-rgb-livian-yellow: 230, 184, 0;
    --palette-eventide-black: #303038;
    --palette-winter-grey: #ABB7BD;
    --palette-autumn-red: #BE2C38;
    --palette-rgb-autumn-red: 190, 44, 56;
    --palette-autumn-orange: #D88F30;
    --palette-aella-green: #5EBF36;
    --palette-rgb-aella-green: 94, 191, 54;
  
    --palette-github: #333333;
    --palette-itch-io: #ff5c5b;
    --palette-linked-in: #0077B5;
    --palette-twitter: #29AAE1;
    --palette-facebook: #3B5998;
    --palette-windows: #1DAEEC;
    --palette-android: #A4C639;
    --palette-adobe: #E61A23;
    --palette-stack-overflow: #f48024;
}
