:root {
    --skin-bg: var(--palette-greyscale-075);
    --skin-bg-title: var(--palette-greyscale-085);
    --skin-bg-text: var(--palette-greyscale-090);

    --skin-content: var(--palette-greyscale-100);
    --skin-content-text: var(--palette-greyscale-010);

    --skin-banner: var(--palette-deep-blue);
    --skin-banner-text: var(--palette-greyscale-100);

    --skin-primary-banner: var(--palette-aurorablue-cb);
    --skin-primary-interactive: var(--palette-aurorablue-wc);
    --skin-primary-text: var(--palette-aurorablue-wc);
    --skin-primary-overlay: var(--palette-aurorablue-lo);
    --skin-primary-hsl: var(--palette-aurorablue-hsl);

    --skin-secondary-banner: var(--palette-auroragreen-cb);
    --skin-secondary-interactive: var(--palette-auroragreen-wc);
    --skin-secondary-text: var(--palette-auroragreen-wc);
    --skin-secondary-overlay: var(--palette-auroragreen-lo);
    --skin-secondary-hsl: var(--palette-auroragreen-hsl);

    --skin-info-banner: var(--palette-aurorablue-cb);
    --skin-info-interactive: var(--palette-aurorablue-wc);
    --skin-info-text: var(--palette-aurorablue-wc);
    --skin-info-overlay: var(--palette-aurorablue-lo);
    --skin-info-hsl: var(--palette-aurorablue-hsl);

    --skin-success-banner: var(--palette-aellagreen-cb);
    --skin-success-interactive: var(--palette-aellagreen-wc);
    --skin-success-text: var(--palette-aellagreen-wc);
    --skin-success-overlay: var(--palette-aellagreen-lo);
    --skin-success-hsl: var(--palette-aellagreen-hsl);

    --skin-warning-banner: var(--palette-livianyellow-cb);
    --skin-warning-interactive: var(--palette-livianyellow-wc);
    --skin-warning-text: var(--palette-livianyellow-wc);
    --skin-warning-overlay: var(--palette-livianyellow-lo);
    --skin-warning-hsl: var(--palette-livianyellow-hsl);

    --skin-danger-banner: var(--palette-autumnred-cb);
    --skin-danger-interactive: var(--palette-autumnred-wc);
    --skin-danger-text: var(--palette-autumnred-wc);
    --skin-danger-overlay: var(--palette-autumnred-lo);
    --skin-danger-hsl: var(--palette-autumnred-hsl);

    --skin-visited: var(--palette-fablelavender-cb);

    --skin-font-heading: var(--typography-sans);
    --skin-font-text: var(--typography-sans);
    --skin-font-code: var(--typography-code);

    --skin-code-default: var(--palette-greyscale-010);
    --skin-code-comment: #008800;
    --skin-code-keyword: #0060FF;
    --skin-code-literal: #a85f30;
    --skin-code-name: #0080AA;
    --skin-code-string:  #a31515;
    --skin-code-annotation:  #808000;

    --maslow-color-selfactualization: var(--palette-autumn-red);
    --maslow-color-esteem: var(--palette-autumn-orange);
    --maslow-color-belonging: var(--palette-livian-yellow);
    --maslow-color-safety: var(--palette-aella-green);
    --maslow-color-physiological: var(--palette-aurora-blue);
}
