:root {
    --typography-sans: "Source Sans Pro", sans-serif;
    --typography-code: "Source Code Pro", monospace;

    --typography-light: 300;
    --typography-normal: 400;
    --typography-bold: 700;

    --typography-sm: 0.875em;
    --typography-md: 1em;
    --typography-lg: 1.25em;
    --typography-xl: 1.5em;
    --typography-jb: 2.25em;
}
