:root {
    --typography-sans: "Source Sans Pro", sans-serif;
    --typography-code: "Source Code Pro", monospace;

    --typography-light: 300;
    --typography-normal: 400;
    --typography-bold: 700;
}
