:root {
  --palette-black: #000000;
  --palette-off-black: #333333;
  --palette-dark-grey: #707070;
  --palette-med-grey: #AFAFAF;
  --palette-grey: #DDDDDD;
  --palette-off-white: #F7F7F7;
  --palette-white: #FFFFFF;

  --palette-deep-blue: #001533;
  --palette-aurora-blue: #448DDD;
  --palette-aurora-green: #41AAB7;
  --palette-fable-lavender: #9D77DD;
  --palette-fable-pink: #FB6BB5;
  --palette-livian-yellow: #E6B800;
  --palette-eventide-black: #303038;
  --palette-winter-grey: #ABB7BD;
  --palette-autumn-red: #BE2C38;
  --palette-autumn-orange: #D88F30;
  --palette-aella-green: #5EBF36;

  --palette-primary: var(--palette-aurora-blue);
  --palette-secondary: var(--palette-deep-blue);

  --palette-success: var(--palette-aella-green);
  --palette-warning: var(--palette-livian-yellow);
  --palette-danger: var(--palette-autumn-red);

  --palette-github: #333333;
  --palette-linked-in: #0077B5;
  --palette-twitter: #29AAE1;
  --palette-facebook: #3B5998;
  --palette-windows: #1DAEEC;
  --palette-android: #A4C639;
}

@define-mixin palette-theme $selector, $prop {
  $selector {
    $(prop): var(--palette-primary);

    @mixin-content;
  }

  :global(.theme-aurora-blue) $selector {
    $(prop): var(--palette-aurora-blue);
  }

  :global(.theme-aurora-green) $selector {
    $(prop): var(--palette-aurora-green);
  }

  :global(.theme-fable-lavender) $selector {
    $(prop): var(--palette-fable-lavender);
  }

  $selector.success {
    $(prop): var(--palette-success);
  }

  $selector.warning {
    $(prop): var(--palette-warning);
  }

  $selector.danger {
    $(prop): var(--palette-danger);
  }
}

@define-mixin palette-theme-dark $selector, $prop {
  $selector {
    $(prop): color-mod(var(--palette-primary) shade(25%));

    @mixin-content;
  }

  :global(.theme-aurora-blue) $selector {
    $(prop): color-mod(var(--palette-aurora-blue) shade(25%));
  }

  :global(.theme-aurora-green) $selector {
    $(prop): color-mod(var(--palette-aurora-green) shade(25%));
  }

  :global(.theme-fable-lavender) $selector {
    $(prop): color-mod(var(--palette-fable-lavender) shade(25%));
  }
}

@define-mixin palette-color-swap $prop {
  &.color-aurora-blue {
    $(prop): var(--palette-aurora-blue);
  }

  &.color-aurora-green {
    $(prop): var(--palette-aurora-green);
  }

  &.color-fable-lavender {
    $(prop): var(--palette-fable-lavender);
  }

  &.color-fable-pink {
    $(prop): var(--palette-fable-pink);
  }

  &.color-livian-yellow {
    $(prop): var(--palette-livian-yellow);
  }

  &.color-eventide-black {
    $(prop): var(--palette-eventide-black);
  }

  &.color-winter-grey {
    $(prop): var(--palette-winter-grey);
  }

  &.color-autumn-red {
    $(prop): var(--palette-autumn-red);
  }

  &.color-autumn-orange {
    $(prop): var(--palette-autumn-orange);
  }

  &.color-aella-green {
    $(prop): var(--palette-aella-green);
  }

  &.color-github {
    $(prop): var(--palette-github);
  }

  &.color-windows {
    $(prop): var(--palette-windows);
  }

  &.color-android {
    $(prop): var(--palette-android);
  }
}