:root {
  --palette-black: #000000;
  --palette-off-black: #333333;
  --palette-dark-grey: #707070;
  --palette-grey: #DDDDDD;
  --palette-off-white: #F7F7F7;
  --palette-white: #FFFFFF;

  --palette-deep-blue: #001533;
  --palette-aurora-blue: #448DDD;
  --palette-fable-lavender: #9D77DD;
  --palette-eventide-black: #303038;
  --palette-autumn-red: #BE2C38;

  --palette-aurora-blue-dark: #336AA5;

  --palette-primary: var(--palette-aurora-blue);
  --palette-primary-dark: var(--palette-aurora-blue-dark);
  --palette-secondary: var(--palette-deep-blue);

  --palette-github: #333333;
  --palette-linked-in: #0077B5;
  --palette-twitter: #29AAE1;

  --palette-swap-background: {
    &.color-aurora-blue {
      background: var(--palette-aurora-blue);
    }

    &.color-fable-lavender {
      background: var(--palette-fable-lavender);
    }

    &.color-eventide-black {
      background: var(--palette-eventide-black);
    }

    &.color-autumn-red {
      background: var(--palette-autumn-red);
    }
  }

  --palette-swap-border-color: {
    &.color-aurora-blue {
      border-color: var(--palette-aurora-blue);
    }

    &.color-fable-lavender {
      border-color: var(--palette-fable-lavender);
    }

    &.color-eventide-black {
      border-color: var(--palette-eventide-black);
    }

    &.color-autumn-red {
      border-color: var(--palette-autumn-red);
    }
  }
}