:root {
  --palette-black: #000000;
  --palette-off-black: #333333;
  --palette-dark-grey: #707070;
  --palette-grey: #DDDDDD;
  --palette-off-white: #F7F7F7;
  --palette-white: #FFFFFF;

  --palette-deep-blue: #001533;
  --palette-aurora-blue: #448DDD;
  --palette-aurora-green: #41AAB7;
  --palette-fable-lavender: #9D77DD;
  --palette-fabel-pink: #FB6BB5;
  --palette-eventide-black: #303038;
  --palette-autumn-red: #BE2C38;
  --palette-aella-green: #5EBF36;

  --palette-primary: var(--palette-aurora-blue);
  --palette-secondary: var(--palette-deep-blue);

  --palette-github: #333333;
  --palette-linked-in: #0077B5;
  --palette-twitter: #29AAE1;
  --palette-facebook: #3B5998;
}

@define-mixin palette-theme $selector, $prop {
  $selector {
    $(prop): var(--palette-primary);

    @mixin-content;
  }

  :global(.theme-aurora-blue) $selector {
    $(prop): var(--palette-aurora-blue);
  }

  :global(.theme-aurora-green) $selector {
    $(prop): var(--palette-aurora-green);
  }
}

@define-mixin palette-theme-dark $selector, $prop {
  $selector {
    $(prop): color-mod(var(--palette-primary) shade(25%));

    @mixin-content;
  }

  :global(.theme-aurora-blue) $selector {
    $(prop): color-mod(var(--palette-aurora-blue) shade(25%));
  }

  :global(.theme-aurora-green) $selector {
    $(prop): color-mod(var(--palette-aurora-green) shade(25%));
  }
}

@define-mixin palette-color-swap $prop {
  &.color-aurora-blue {
    $(prop): var(--palette-aurora-blue);
  }

  &.color-aurora-green {
    $(prop): var(--palette-aurora-green);
  }

  &.color-fable-lavender {
    $(prop): var(--palette-fable-lavender);
  }

  &.color-eventide-black {
    $(prop): var(--palette-eventide-black);
  }

  &.color-autumn-red {
    $(prop): var(--palette-autumn-red);
  }

  &.color-aella-green {
    $(prop): var(--palette-aella-green);
  }
}