@import "./_breakpoints";

:root {
  --typography-sans: "Source Sans Pro", sans-serif;
  --typography-code: "Source Code Pro", monospace;

  --typography-light: 300;
  --typography-normal: 400;
  --typography-bold: 700;

  --typography-sm: 0.875rem;
  --typography-md: 1rem;
  --typography-lg: 1.25rem;
  --typography-xl: 1.5rem;
  --typography-jb: 2rem;
  --typography-xj: 3rem;

  --typography-lg-sm: 0.9375rem;
  --typography-lg-md: 1.0625rem;
  --typography-lg-lg: 1.5rem;
  --typography-lg-xl: 2rem;
  --typography-lg-jb: 3rem;
  --typography-lg-xj: 5rem;
}

@define-mixin typography-responsive $size {
  font-size: var(--typography-$size);

  @media (--breakpoint-lg) {
    font-size: var(--typography-lg-$size);
  }
}

@define-mixin typography-preset-paragraph {
  font-weight: var(--typography-light);
  text-align: justify;
  line-height: 1.72em;
  margin-bottom: 1.5em;

  @media (--breakpoint-lg) {
    text-align: left;
  }
}