@import url('/styles/normalize.css');
@import url('/styles/palette.css');
@import url('/styles/typography.css');
@import url('/styles/sizing.css');
@import url('/styles/transitions.css');
@import url('/styles/skins.css');

/* Page-level Items
   ========================================================================== */
html {
    overflow-y: scroll; /* So scrollbar is always there */
}

body {
    font-family: var(--skin-font-text);
    background-color: var(--skin-bg);
    color: var(--skin-content-text);
}

.content-typography p,
.content-typography li,
.content-typography button,
.content-typography .as-button,
.content-typography dl,
.content-typography summary {
    font-size: var(--font-sz-neptune);
}

.content-typography p li,
.content-typography ul ul li,
.content-typography ol ul li,
.content-typography ul ol li,
.content-typography ol ol li {
    font-size: 1em;
}

.content-typography p code,
.content-typography li code,
.content-typography dd code,
.content-typography p kbd,
.content-typography li kbd,
.content-typography dd kbd {
    font-size: 0.875em;
}

.content-typography img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.content-typography p > img {
    display: block;
    margin: auto;
}

.content-typography iframe {
    width: 100%;
    margin-bottom: var(--sp-paragraph);
}

.content-typography figure {
    margin-bottom: var(--sp-paragraph);
    text-align: center;
}

.content-typography figcaption {
    text-align: center;
    font-size: var(--font-sz-neptune);
}

.content-typography figcaption:last-child {
    padding-top: var(--sp-st-o);
}

.content-typography figcaption:first-child {
    padding-bottom: var(--sp-st-o);
}

.content-typography .anchored-heading {
    display: flex;
    position: relative;
    align-items: center;
}

.anchored-heading a.heading-anchor {
    font-size: var(--font-sz-venus);
    display: inline-block;
    margin-left: var(--sp-st-o);
}

@media screen and (min-width: 75rem) {
    .anchored-heading a.heading-anchor {
        position: absolute;
        top: 50%;
        left: -1.75em;
        visibility: hidden;
        transform: translateY(-50%);
    }

    .anchored-heading:hover a.heading-anchor {
        visibility: visible;
    }
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* Headings
   ========================================================================== */
h1 { font-size: var(--font-sz-jupiter); }
h2, h3, h4, h5, h6 {
    font-weight: var(--typography-bold);
}
h2 { font-size: var(--font-sz-saturn); }
h3 { font-size: var(--font-sz-uranus); }
h4 { font-size: var(--font-sz-neptune); }
h5, h6 { font-size: var(--font-sz-earth); }
h4, h5, h6 { font-style: italic; }
h1, h2, h3, h4, h5, h6 {
    line-height: var(--sp-st-ge);
    margin-bottom: 0;
}

/* Content
   ========================================================================== */
a {
    text-decoration: underline;
    color: var(--skin-primary-text);
}

a:hover, a:focus {
    text-decoration: none;
}

a:visited {
    color: var(--skin-visited);
}

p, ul, ol {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: var(--sp-paragraph);
}

li {
    margin-bottom: var(--sp-st-o);
}

ul ul,
ul ol,
ol ul,
ol ol {
    padding-top: var(--sp-st-o);
    margin-bottom: 0;
}

li:last-child {
    margin-bottom: 0;
}

strong, b {
    font-weight: var(--typography-bold);
}

small {
    font-size: var(--font-sz-earth);
}

blockquote {
    margin: 0 0 var(--sp-paragraph) 0;
    padding: var(--sp-st-be) var(--sp-st-o) var(--sp-st-be) var(--sp-st-cr);
    border-left: var(--bd-fx-c) solid var(--skin-bg);
    background: var(--skin-bg-text);
}

blockquote p {
    font-size: 106.25%;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote mark {
    font-weight: var(--typography-bold);
}

hr {
    border: none;
    border-top: var(--bd-fx-h) solid var(--skin-bg);
    margin: 0 var(--sp-st-o) var(--sp-st-cr);
}

ul, ol, icon-ul {
    padding-left: 1em;
}

dl {
    margin-bottom: var(--sp-paragraph);
}

dl > dd:last-child {
    margin-bottom: 0;
}

dt {
    font-weight: var(--typography-bold);
    background: var(--skin-bg-title);
    padding: var(--sp-st-be);
    margin-bottom: var(--sp-st-be);
}

dd {
    padding: 0 var(--sp-st-be);
    margin-left: 0;
    margin-bottom: var(--sp-st-s);
    line-height: 1.4;
}

dt.info {
    background: hsla(var(--skin-info-hsl), 0.2);
}

dt.warning {
    background: hsla(var(--skin-warning-hsl), 0.2);
}

dt.danger {
    background: hsla(var(--skin-danger-hsl), 0.2);
}

dt.success {
    background: hsla(var(--skin-success-hsl), 0.2);
}

summary {
    cursor: pointer;
    margin: 0;
}

details[open] > summary {
    margin-bottom: var(--sp-st-s);
}

figure {
    margin: 0;
}

kbd {
    font-family: var(--skin-font-code);
    font-size: var(--font-sz-earth);
    color: var(--skin-code-default);
    border: var(--bd-fx-h) solid var(--skin-bg);
    border-bottom-width: var(--bd-fx-he);
    border-radius: var(--sp-st-be);
    padding: var(--sp-st-h) var(--sp-st-be);
}

.font-larger {
    font-size: 1.15em;
}

/* Buttons
   ========================================================================== */
button, .as-button, ::part(button) {
    --btn-color: var(--skin-primary-interactive);
    font-family: var(--skin-font-text);
    font-size: 1em;
    border: none;
    background: none;
    display: inline-block;
    position: relative;
    color: var(--skin-banner-text);
    z-index: 2;
    cursor: pointer;
    padding: var(--sp-st-be) var(--sp-st-cr);
}

button::before, .as-button::before, ::part(button)::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: var(--btn-color);
    border-radius: 1em;
    transition: left var(--transition-quick), right var(--transition-quick);
    z-index: -1;
}

button:hover, .as-button:hover, ::part(button):hover {
    text-decoration: none;
}

button:hover::before, .as-button:hover::before, ::part(button):hover::before {
    left: calc(0.333 * var(--sp-st-cr));
    right: calc(0.333 * var(--sp-st-cr));
}

button:active::before, .as-button:active::before, ::part(button):active::before {
    box-shadow: 0 0 0 1em var(--palette-shade-033) inset;
}

button.secondary, .as-button.secondary, ::part(button secondary) {
    --btn-color: var(--skin-secondary-interactive);
}

button[disabled] {
    cursor: not-allowed;
}

button vector-icon, .as-button vector-icon {
    vertical-align: -0.125em;
}

a.as-button {
    text-decoration: none;
}

a.as-button:visited {
    color: var(--skin-banner-text);
}

/* Inputs
   ========================================================================== */
textarea, ::part(textarea) {
    font-family: var(--skin-font-text);
    font-size: 1em;
    border: var(--bd-fx-he) solid var(--skin-bg);
    border-radius: 0.25em;
    padding: var(--sp-st-o);
    transition: all var(--transition-quick);
    background: var(--skin-input);
    color: var(--skin-content-color);
}

textarea:focus, ::part(textarea):focus {
    background: var(--skin-content);
    border-color: var(--skin-primary-interactive);
    outline: none;
}

/* Code
   ========================================================================== */
code {
    font-family: var(--skin-font-code);
    font-size: var(--font-sz-earth);
    color: var(--skin-code-default);
    background: var(--skin-bg-title);
    border-radius: var(--sp-st-be);
    padding: var(--sp-st-h) var(--sp-st-be);
}

pre {
    margin-bottom: var(--sp-paragraph);
}

pre code {
    display: block;
    line-height: 1.5em;
    border: var(--bd-fx-h) solid var(--skin-primary-banner);
    border-left-width: var(--bd-fx-c);
    padding: 0 var(--sp-st-s);
    overflow: auto;
    background: none;
    background-image: linear-gradient(transparent 50%, var(--skin-primary-overlay) 50%);
    background-size: 3em 3em;
    border-radius: 0;
}

.success > pre code {
    border-color: var(--skin-success-banner);
    background-image: linear-gradient(transparent 50%, var(--skin-success-overlay) 50%);
}

.warning > pre code {
    border-color: var(--skin-warning-banner);
    background-image: linear-gradient(transparent 50%, var(--skin-warning-overlay) 50%);
}

.danger > pre code {
    border-color: var(--skin-warning-banner);
    background-image: linear-gradient(transparent 50%, var(--skin-warning-overlay) 50%);
}

code .comment {
    color: var(--skin-code-comment);
}

code .keyword,
code .attr-name,
code .rule,
code .property {
    color: var(--skin-code-keyword);
}

code .number,
code .boolean {
    color: var(--skin-code-literal);
}

code .string,
code .regex,
code .attr-value {
    color: var(--skin-code-string);
}

code .class-name,
code .selector,
code .tag > .tag {
    color: var(--skin-code-name);
}

code .function,
code .pseudo-class {
    font-weight: var(--typography-bold);
}

code .doctype {
    color: var(--skin-code-annotation);
}

code .tag > .punctuation {
    color: var(--skin-code-default);
}

/* Custom Elements
   ========================================================================== */
/* These styles are needed when customizing slotted elements */
side-text {
    margin-bottom: var(--sp-paragraph);
}

side-text p, side-text li {
    font-weight: normal;
}

side-text p:last-child {
    margin-bottom: 0;
}

major-point p {
    text-align: center;
}

/* Needed since shadow styling cannot style the light dom */
point-compilation ul, point-compilation ol {
    margin-bottom: 0;
}

point-compilation .highlight {
    font-weight: bold;
    margin-bottom: 0;
}

point-compilation .mute {
    opacity: 0.33;
}

point-compilation .hide {
    display: none;
}

/* Needed since these are light-dom elements */
math-block {
    display: block;
    overflow: auto;
}

math-inline {
    display: inline;
    padding: 0 var(--sp-st-be);
}

img-popout img:not([slot="popped-out"]) {
    max-width: 100%;
}

major-point p {
    font-weight: var(--typography-light);
}

/* Large Screens
   ========================================================================== */
@media screen and (min-width: 75rem) {
    p, li {
        text-align: left;
    }

    ul, ol, icon-ul {
        padding-left: calc(1em + var(--sp-st-cr));
    }
}
