@import url("/fonts/urbanist/font-face.css");

*, *::before, *::after { box-sizing: border-box; }

/* Config
 * ======================================================================= */
:root {
	--c-blue-d: oklch(55% 0.119 250);
	--c-purple-d: oklch(53% 0.11 304);
	--c-yellow-d: oklch(56.5% 0.11 95.5);
	--c-green-d: oklch(55% 0.111 134);
	--c-red-d: oklch(50% 0.11 30);
	--c-dark-d: oklch(22% 0.021 255);
	--c-dark-l: oklch(24% 0.02 255);
	--c-light-l: oklch(100% 0 0);

	--f-normal: "Urbanist", sans-serif;
	--f-code: monospace;
}

/* Page-level Items
 * ======================================================================== */
body {
	font-family: var(--f-normal);
	background-color: var(--c-dark-d);
	color: var(--c-light-l);
}
