@import "theme";

.whodoku {
  margin-bottom: 3rem;
  position: relative;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto 3rem;
  user-select: none;
}

.board.solved {
  opacity: 0.25;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  @mixin typography-responsive md;
}

.solved-text {
  @mixin typography-responsive xj;

  background: var(--palette-grey);
  position: absolute;
  top: 6rem;
  width: 100%;
  text-align: center;
}