@import "theme";

.item {
  margin-bottom: 1rem;
}

@media (--breakpoint-lg) {
  .items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }

  .item {
    margin: 0;
  }

  .item:nth-child(5n+1),
  .item:nth-child(5n+2) {
    grid-column-end: span 3;
  }

  .item:nth-child(5n+3),
  .item:nth-child(5n+4),
  .item:nth-child(5n) {
    grid-column-end: span 2;
  }
}