@import "theme";

.spacing {
  display: inline-block;
  margin: 0 0.5rem;
}

.button {
  @mixin typography-responsive md;

  display: inline-flex;
  align-items: center;
  border: 0.125rem solid var(--palette-white);
}

.icon {
  margin-left: 0.375em;
}