@import 'theme';

.digest-item {
  background: var(--white);
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.digest-item:last-child {
  margin-bottom: 0;
}

.digest-item .icon {
  width: 10rem;
  height: 10rem;
  color: var(--white);
  font-size: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digest-item .content {
  flex: 1;
  padding: 0.5rem;
}

.digest-item .title {
  font-size: var(--lg);
  margin-bottom: 0.5rem;
}

.digest-item .byline {
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.digest-item .bullet {
  display: inline-block;
  margin: 0 0.25rem;
}

.digest-item .summary {
  font-weight: var(--light);
}

@media (--large-screen) {
  .digest-item {
    background: var(--white);
    margin-bottom: 2rem;
  }

  .digest-item .content {
    padding: 1rem;
  }

  .digest-item .title {
    font-size: var(--xl);
  }

  .digest-item .summary {
    font-size: var(--ml);
  }
}

.digest-item .icon.color-aurora-blue {
  background: var(--aurora-blue);
}