@import 'theme';

:root {
  --circle-width: 3.5rem;
  --circle-width-large: 6.5rem;
}

.digest-item {
  background: var(--white);
  margin-bottom: 1rem;
  padding: 0.25rem;
  border-top-right-radius: calc(var(--circle-width) / 2);
}

.digest-item:last-child {
  margin-bottom: 0;
}

.digest-item .icon {
  width: calc(var(--circle-width));
  height: calc(var(--circle-width));
  font-size: var(--xl);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.digest-item .content {
  padding: 0.25rem;
}

.digest-item .title {
  font-size: var(--lg);
  margin-bottom: 0.5rem;
}

.digest-item .byline {
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.digest-item .bullet {
  display: inline-block;
  margin: 0 0.25rem;
}

.digest-item .summary {
  font-weight: var(--light);
  text-align: justify;
}

@media (--large-screen) {
  .digest-item {
    background: var(--white);
    margin-bottom: 2rem;
    border-top-right-radius: calc(var(--circle-width-large) / 2);
  }

  .digest-item .content {
    padding: 0.75rem calc(var(--circle-width-large) + 1rem) 0.75rem 0.75rem;
  }

  .digest-item .title {
    font-size: var(--xl);
  }

  .digest-item .summary {
    font-size: var(--ml);
    text-align: left;
  }

  .digest-item .icon {
    width: calc(var(--circle-width-large));
    height: calc(var(--circle-width-large));
    font-size: var(--jb);
  }
}

.digest-item .icon.color-aurora-blue {
  background: var(--aurora-blue);
}