:root {
    --sizing-breakpoint: 75rem;

    /* Static Spacing */
    --sp-st-h: 0.0625em;
    --sp-st-be: 0.25em;
    --sp-st-o: 0.5em;
    --sp-st-s: 1em;
    --sp-st-cr: 1.5em;
    --sp-st-ge: 2em;

    --sp-paragraph: var(--sp-st-cr);

    /* Border Width */
    --bd-fx-h: 0.0625rem;
    --bd-fx-he: 0.125rem;
    --bd-fx-c: 0.375rem;
    --bd-fx-o: 0.5rem;
    --bd-fx-s: 1rem;

    /* Font Size */
    --font-sz-earth: 1em;
    --font-sz-neptune: 1.125em;
    --font-sz-uranus: 1.25em;
    --font-sz-saturn: 1.5em;
    --font-sz-jupiter: 2em;
}

@media screen and (min-width: 75rem) {
    :root {
        --font-sz-earth: 1em;
        --font-sz-neptune: 1.25em;
        --font-sz-uranus: 1.625em;
        --font-sz-saturn: 2em;
        --font-sz-jupiter: 2.75em;
    }
}
