:root {
    --skin-bg: var(--palette-greyscale-075);
    --skin-bg-title: var(--palette-greyscale-085);
    --skin-bg-text: var(--palette-greyscale-090);

    --skin-content: var(--palette-greyscale-100);
    --skin-content-text: var(--palette-greyscale-010);
    --skin-input: var(--palette-greyscale-090);

    --skin-banner: var(--palette-deep-blue);
    --skin-banner-text: var(--palette-greyscale-100);

    --skin-primary-banner: var(--palette-aurorablue-cb);
    --skin-primary-interactive: var(--palette-aurorablue-wc);
    --skin-primary-text: var(--palette-aurorablue-wc);
    --skin-primary-overlay: var(--palette-aurorablue-lo);
    --skin-primary-hsl: var(--palette-aurorablue-hsl);

    --skin-secondary-banner: var(--palette-auroragreen-cb);
    --skin-secondary-interactive: var(--palette-auroragreen-wc);
    --skin-secondary-text: var(--palette-auroragreen-wc);
    --skin-secondary-overlay: var(--palette-auroragreen-lo);
    --skin-secondary-hsl: var(--palette-auroragreen-hsl);

    --skin-info-banner: var(--palette-aurorablue-cb);
    --skin-info-interactive: var(--palette-aurorablue-wc);
    --skin-info-text: var(--palette-aurorablue-wc);
    --skin-info-overlay: var(--palette-aurorablue-lo);
    --skin-info-hsl: var(--palette-aurorablue-hsl);

    --skin-success-banner: var(--palette-aellagreen-cb);
    --skin-success-interactive: var(--palette-aellagreen-wc);
    --skin-success-text: var(--palette-aellagreen-wc);
    --skin-success-overlay: var(--palette-aellagreen-lo);
    --skin-success-hsl: var(--palette-aellagreen-hsl);

    --skin-warning-banner: var(--palette-livianyellow-cb);
    --skin-warning-interactive: var(--palette-livianyellow-wc);
    --skin-warning-text: var(--palette-livianyellow-wc);
    --skin-warning-overlay: var(--palette-livianyellow-lo);
    --skin-warning-hsl: var(--palette-livianyellow-hsl);

    --skin-danger-banner: var(--palette-autumnred-cb);
    --skin-danger-interactive: var(--palette-autumnred-wc);
    --skin-danger-text: var(--palette-autumnred-wc);
    --skin-danger-overlay: var(--palette-autumnred-lo);
    --skin-danger-hsl: var(--palette-autumnred-hsl);

    --skin-visited: var(--palette-fablelavender-wc);

    --skin-aurorablue-banner: var(--palette-aurorablue-cb);
    --skin-auroragreen-banner: var(--palette-auroragreen-cb);
    --skin-fablelavender-banner: var(--palette-fablelavender-cb);
    --skin-fablepink-banner: var(--palette-fablepink-cb);
    --skin-livianyellow-banner: var(--palette-livianyellow-cb);
    --skin-autumnred-banner: var(--palette-autumnred-wc);
    --skin-autumnorange-banner: var(--palette-autumnorange-cb);
    --skin-aellagreen-banner: var(--palette-aellagreen-cb);
    --skin-eventideblack-banner: var(--palette-eventideblack-wc);
    --skin-wintergrey-banner: var(--palette-wintergrey-cb);

    --skin-aurorablue-text: var(--palette-aurorablue-wc);
    --skin-auroragreen-text: var(--palette-auroragreen-wc);
    --skin-fablelavender-text: var(--palette-fablelavender-wc);
    --skin-fablepink-text: var(--palette-fablepink-wc);
    --skin-livianyellow-text: var(--palette-livianyellow-wc);
    --skin-autumnred-text: var(--palette-autumnred-wc);
    --skin-autumnorange-text: var(--palette-autumnorange-wc);
    --skin-aellagreen-text: var(--palette-aellagreen-wc);
    --skin-eventideblack-text: var(--palette-eventideblack-wc);
    --skin-wintergrey-text: var(--palette-wintergrey-wc);

    --skin-font-heading: var(--typography-sans);
    --skin-font-text: var(--typography-sans);
    --skin-font-code: var(--typography-code);

    --skin-code-default: var(--palette-greyscale-010);
    --skin-code-comment: #008800;
    --skin-code-keyword: #0060FF;
    --skin-code-literal: #a85f30;
    --skin-code-name: #0080AA;
    --skin-code-string:  #a31515;
    --skin-code-annotation:  #808000;

    --maslow-color-selfactualization: var(--palette-autumnred-wc);
    --maslow-color-esteem: var(--palette-autumnorange-wc);
    --maslow-color-belonging: var(--palette-livianyellow-wc);
    --maslow-color-safety: var(--palette-aellagreen-wc);
    --maslow-color-physiological: var(--palette-aurorablue-wc);
}

.theme-dark {
    --skin-bg: var(--palette-greyscale-000);
    --skin-bg-title: var(--palette-greyscale-000);
    --skin-bg-text: var(--palette-greyscale-005);

    --skin-content: var(--palette-greyscale-005);
    --skin-content-text: var(--palette-greyscale-075);
    --skin-input: var(--palette-greyscale-010);

    --skin-banner: var(--palette-deep-blue);
    --skin-banner-text: var(--palette-greyscale-100);

    --skin-primary-banner: var(--palette-aurorablue-wc);
    --skin-primary-text: var(--palette-aurorablue-cb);
    --skin-primary-overlay: var(--palette-aurorablue-do);

    --skin-secondary-banner: var(--palette-auroragreen-wc);
    --skin-secondary-text: var(--palette-auroragreen-cb);
    --skin-secondary-overlay: var(--palette-auroragreen-do);

    --skin-info-banner: var(--palette-aurorablue-wc);
    --skin-info-text: var(--palette-aurorablue-cb);
    --skin-info-overlay: var(--palette-aurorablue-do);

    --skin-success-banner: var(--palette-aellagreen-wc);
    --skin-success-text: var(--palette-aellagreen-cb);
    --skin-success-overlay: var(--palette-aellagreen-do);

    --skin-warning-banner: var(--palette-livianyellow-wc);
    --skin-warning-text: var(--palette-livianyellow-cb);
    --skin-warning-overlay: var(--palette-livianyellow-do);

    --skin-danger-banner: var(--palette-autumnred-wc);
    --skin-danger-text: var(--palette-autumnred-cb);
    --skin-danger-overlay: var(--palette-autumnred-do);

    --skin-visited: var(--palette-fablelavender-cb);

    --skin-aurorablue-banner: var(--palette-aurorablue-wc);
    --skin-auroragreen-banner: var(--palette-auroragreen-wc);
    --skin-fablelavender-banner: var(--palette-fablelavender-wc);
    --skin-fablepink-banner: var(--palette-fablepink-wc);
    --skin-livianyellow-banner: var(--palette-livianyellow-wc);
    --skin-autumnred-banner: var(--palette-autumnred-wc);
    --skin-autumnorange-banner: var(--palette-autumnorange-wc);
    --skin-aellagreen-banner: var(--palette-aellagreen-wc);
    --skin-eventideblack-banner: var(--palette-eventideblack-wc);
    --skin-wintergrey-banner: var(--palette-wintergrey-wc);

    --skin-aurorablue-text: var(--palette-aurorablue-cb);
    --skin-auroragreen-text: var(--palette-auroragreen-cb);
    --skin-fablelavender-text: var(--palette-fablelavender-cb);
    --skin-fablepink-text: var(--palette-fablepink-cb);
    --skin-livianyellow-text: var(--palette-livianyellow-cb);
    --skin-autumnred-text: var(--palette-autumnred-cb);
    --skin-autumnorange-text: var(--palette-autumnorange-cb);
    --skin-aellagreen-text: var(--palette-aellagreen-cb);
    --skin-eventideblack-text: var(--palette-eventideblack-wc);
    --skin-wintergrey-text: var(--palette-wintergrey-cb);

    /* Darcula Color Scheme */
    --skin-code-default: #A9B7C6;
    --skin-code-comment: #629755;
    --skin-code-keyword: #CC7832;
    --skin-code-literal: #6897BB;
    --skin-code-name: #FFC66D;
    --skin-code-string:  #6A8759;
    --skin-code-annotation:  #9876AA;
}
