@import "theme";

.circled-icon {
  @mixin palette-color-swap background;

  width: 2.25em;
  height: 2.25em;
  color: var(--palette-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}