@import "theme";

.about-me-section {
  background: var(--palette-white);
  padding: 4rem 1rem;
}

.about-me-section h2 {
  font-size: var(--typography-xxl);
}

.about-me-section p {
  font-size: var(--typography-ml);
  font-weight: var(--typography-light);
}

@media (--breakpoint-lg) {
  .about-me-section h2 {
    font-size: var(--typography-jb);
  }
}