@import "theme";

.image-steganographer {
  margin-bottom: 2rem;
}

.image-steganographer canvas {
  display: none;
}

.images {
  display: flex;
  justify-content: space-evenly;
  margin: 0 -0.5rem;
}
