@import "theme";

:root {
  --circle-width: 3.75rem;
  --border-thickness: 0.4rem;
}

.icon-link {
  position: relative;
  flex: 0 0 7rem;
  padding: 1.5rem 0;
  color: var(--palette-off-white);
  font-size: var(--typography-xxl);
  z-index: 1;
}

.icon-link:hover {
  color: var(--palette-white);
}

.icon-link::before {
  position: absolute;
  top: calc(50% - var(--circle-width) / 2);
  left: calc(50% - var(--circle-width) / 2);
  width: var(--circle-width);
  height: var(--circle-width);
  border: 0 solid var(--palette-secondary);
  border-radius: 50%;
  content: "";
  display: block;
  z-index: -1;
  transition: var(--transition-short) border-width;
}

.icon-link:hover::before {
  border-width: var(--border-thickness / 2);
}