@import "theme";

:root {
  --code-blue: #0060FF;
  --code-deep-blue: #1518FF;
  --code-teal: #0080AA;
  --code-navy: #000099;
  --code-green: #008800;
  --code-red: #A31515;
  --code-yellow: #808000;
}

.code-block {
  @apply --typography-responsive-sm;

  display: block;
  border: 0.0625rem solid color-mod(var(--palette-primary) alpha(25%));
  border-left: 0.375rem solid var(--palette-primary);
  padding: 0 0.5rem 0 1rem;
  overflow: auto;
  line-height: 1.5em;
  background-image: linear-gradient(transparent 50%, color-mod(var(--palette-primary) alpha(4%)) 50%);
  background-size: 3em 3em;
}

@media (--breakpoint-lg) {
  .code-block {
    padding-left: 2rem;
  }
}

.code-block :global(.comment) {
  color: var(--code-green);
}

.code-block :global(.keyword) {
  color: var(--code-blue);
}

.code-block :global(.number) {
  color: var(--code-navy);
}

.code-block :global(.string) {
  color: var(--code-red);
}

.code-block :global(.class-name) {
  color: var(--code-teal);
}

.code-block :global(.regex) {
  color: var(--code-red);
}

.code-block :global(.function) {
  font-weight: var(--typography-bold);
}